html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(96, 96, 96);
  font-size: 16px;
  font-family: sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  padding: 2em;
}

nav .icon {
  width: 80px;
  height: 80px;
  background-color: white;
}

nav a {
  border-bottom: 3px solid white;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 10px;
}

.content {
  background: rgba(255, 255, 255, 1);
  margin: 3em;
  min-height: 70vh;
  min-width: 100%
}

.content h1 {
  text-align: left;
  text-transform: uppercase;
}
