* {
  margin:0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
}

html {
  background-color: #262626;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.leftColumn {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  flex-direction: column;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.box1 {
  flex-grow: 1;
  background-color: #F2C94C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  flex-grow: 1;
  background-color: #4C7AF2;
}

.box4 {
  flex-grow: 1;
  background-color: #A94CF2;
}

.box5 {
  flex-grow: 1;
  background-color: #F24C4C;
}

.box6 {
  flex-grow: 1;
  background-color: #4CF2A2;
}

.boxContent1 {
  font-size: 2em;
  max-width: 30%;
}

/*RechterColumn*/

.rightColumn {
  display: flex;
  width: 5%;
  background-color:  #0d0d0d;
}

.nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-content: center;
}

.NavTop {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.logoTop {
  display: none;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background-color: white;
}

.NavMid {
  flex-grow: 1;
}

.NavBot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content:center;
}

.NavBot li {
  text-align: center;
  padding: 1em;
}

/*end rechterkolumn*/

/*LinkerColumn*/

/*.container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: auto;
}*/
